* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.bg {
  background-image: url("../assets/img/bg-login.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color: #f2f7ff;
  }

  .login {
    width: 500px;
    margin: 150px;
    background-color: #344667;
    border-radius: 8px;
    padding: 40px;
    height: 500px;
  }

  .login-field {
    display: flex;
    align-items: center;
    background-color: #f2f7ff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .login-icon {
    color: #344667;
    font-size: 25px;
    width: 25px;
    text-align: center;
  }

  .login-input {
    border: 0;
    padding: 0 0 0 15px;
    background-color: transparent;
    outline: none;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .btn-login {
    color: #344667;
    border-radius: 10px;
    display: block;
    padding: 14px;
    border: 0;
    background-color: #f2f7ff;
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .login-forgot-password {
    display: block;
    text-decoration: none;
    text-align: right;
    margin-bottom: 20px;
    color: #f2f7ff;
    font-family: "Poppins", sans-serif;
  }

  .login-register {
    display: block;
    text-align: center;
    color: #f2f7ff;
    font-family: "Poppins", sans-serif;
  }
  @media (max-width: 1028px) {
    .bg {
      display: block;
    }
    ._desIcon {
      margin: auto;
      display: block;
    }
    .login {
      margin: 10px auto;
    }
  }
  @media (max-width: 576px) {
    .login {
      margin: 20px auto;
      width: 100%;
    }
  }
}
@media (max-width: 1028px) {
  .bg {
    display: block;
  }
}

.dashboard_content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .dashboard_content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
  }
}

//Sidebar css

nav {
  background: #344667;
  height: 80px;
  width: 100%;

  .checkbtn {
    font-size: 30px;
    color: #f2f7ff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  label.nav_logo {
    color: #f2f7ff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    float: right;
    margin-right: 20px;

    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;

      .nav_link {
        color: #f2f7ff;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 13px;
        border-radius: 3px;
      }

      .nav_link.active,
      .nav_link:hover {
        background: #f2f7ff;
        transition: 0.5s;
        color: #344667;
      }
    }
  }

  @media (max-width: 952px) {
    label.nav_logo {
      font-size: 20px;
      padding-left: 10px;
    }

    .nav_link {
      font-size: 16px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #4c638f;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      z-index: 10000;

      li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

        .nav_link {
          font-size: 20px;
        }
      }
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
}

<<<<<<< HEAD
.post_add {
  margin: 10px 10px;
  position: relative;
}

.list-post {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.list-item {
  width: 100%;
=======
.post_add{
  margin: 10px 10px;
  position: absolute;
  right: 0;
>>>>>>> fb1b2b5079e0f1ea424d075f133e378c6f86cce7
}
